html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.diceTitle {
    background-color: #5138bc;
    color: rgb(167, 230, 122);
    padding: 50px 30px;
    margin: 0;
    text-align: center;
}

.diceImage {
    display: flex;
    justify-content: center;
}

/* The transform property applies a 2D or 3D transformation to an element. 
    In this case, it scales the image to 50% of its original size and translates it vertically by -40% of its height. */
.diceImage img {
     transform: scale(0.5) translateY(-35%);
}